[submodule "formal_verification_under_WH_constraints"]
	path = formal_verification_under_WH_constraints
	url = https://github.com/DixonCider/formal_verification_under_WH_constraints.git
[submodule "System-verification"]
	path = System-verification
	url = https://github.com/DixonCider/System-verification.git
